//--thiếu gì thì thêm zô nha--//
//font size
$text-sm : 16px;
$text-sm-1 : 18px;
$text-base : 20px;
$text-md : 24px;
$text-l : 32px;
$text-xl : 40px;
//font-weight
$text-light : 300;
$text-regular : 400;
$text-medium : 500;
$text-semibold : 600;
$text-bold : 700;
//text-color
$text-cl-dark : #000;
$text-cl-light : #fff;
//background-color
$bg-cl-dark:#000;
$bg-cl-light : #fff;
//border-color
$bd-cl-dark:#000;
$bd-cl-light:#fff;
//-----------------mixin
@mixin text($fs:$text-base,$fw:$text-regular,$c:$text-cl-dark){
    font-size: $fs;
    font-weight: $fw;
    color: $c;
}
@mixin button($bg,$pd,$bd,$fs,$fw,$c,$br,$bg-h,$c-h) {
    background: $bg;
    padding: $pd;
    border: $bd;
    font-size: $fs;
    font-weight: $fw;
    color: $c;
    border-radius: $br;
    &:hover{
        background: $bg-h;
        color: $c-h;
    }
}




